<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <!-- <ion-button (click)="goHome()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>
      CHAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg" #myContent>

  <div *ngFor="let messageInfo of messages">

    <div *ngIf="messageInfo.type === 1">
      <div *ngIf="messageInfo.uid !== uid">
        <ion-chip class="recibed">
          <ion-label>{{messageInfo.message}}</ion-label>
        </ion-chip>
      </div>
      <div *ngIf="messageInfo.uid === uid">
        <ion-chip class="sender">
          <ion-label>{{messageInfo.message}}</ion-label>
        </ion-chip>
      </div>
    </div>

    <div *ngIf="messageInfo.type === 2">
      <div *ngIf="messageInfo.uid !== uid">
        <ion-chip class="recibed">
          <!-- <a [href]="messageInfo.path" target="_blank"> -->
            <img src="{{messageInfo.path}}" class="photo1" (click)="verFoto(messageInfo.path)"/>
          <!-- </a> -->
          <!-- <a [href]="messageInfo.path" target="_blank"> Ver archivo adjunto </a> -->
        </ion-chip>
      </div>
      <div *ngIf="messageInfo.uid === uid">
        <ion-chip class="sender">
          <!-- <a [href]="messageInfo.path" target="_blank"> -->
            <img src="{{messageInfo.path}}" class="photo1" (click)="verFoto(messageInfo.path)"/>
          <!-- </a> -->
          <!-- <a [href]="messageInfo.path" target="_blank"> Ver archivo adjunto </a> -->
        </ion-chip>
      </div>
    </div>

    <!-- <p *ngIf="messageInfo.name === nameStorage">
      <ion-chip class="sender">
        <ion-label>{{messageInfo.message}}</ion-label>
      </ion-chip>
    </p>

    <p *ngIf="messageInfo.name != nameStorage">
      <ion-chip class="recibed">
        <ion-label>{{messageInfo.message}}</ion-label>
      </ion-chip>
    </p> -->

    <!-- <img *ngIf="message.name" [src]=" message " class="photo" /> -->
  </div>

</ion-content>

<ion-footer *ngIf="seeChat">
  <ion-toolbar>
    <div id="footer">
      <div class="elem">
        <ion-textarea *ngIf="!arrFiles" placeholder="Mensaje" class="inputMensaje" #myInput [(ngModel)]="mensaje">
        </ion-textarea>
        <!-- <input type='file' multiple name="files[]" id="getFile" style="display:none" (change)="fileChat($event)"
        accept=".png,.jpg,.doc,.pdf"> -->
        <ion-row *ngIf="arrFiles">
          <ion-col size="4" *ngFor="let imagen of album; let i = index;">
            <img src="{{imagen.imagen}}" class="photo" (click)="quitarFoto(i)" />
          </ion-col>
        </ion-row>
      </div>
      <div class="elem">
        <!-- <ion-button icon-only type="button" onclick="document.getElementById('getFile').click()"  color="secondary">
          <ion-icon class="icon" name="document-attach-outline"></ion-icon>
        </ion-button>  -->
        <ion-button icon-only (click)="pickImage()" color="secondary">
          <ion-icon class="iconSend" name="document-attach-outline"></ion-icon>
        </ion-button>
        <ion-button icon-only (click)="fileChat()" *ngIf="arrFiles">
          <ion-icon class="iconSend" name="send"></ion-icon>
        </ion-button>
        <ion-button icon-only (click)="sendMessage()" *ngIf="!arrFiles">
          <ion-icon class="iconSend" name="send"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>