.title {
    margin-left: 32%;
}

.textomenu {
    // position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.iconSend {
    position: relative;
}

.elem {
    border-radius: 0;
    margin: 0;
}

elem button {
    border-radius: 0;
    margin: 0;
}

div#footer div.elem:first-child {
    flex-grow: 1;
}

div#footer {
    display: flex;
    flex-direction: row;
}

.inputMensaje {
    font-size: 17px;
}

.recibed {
    width: 80%;
    height: auto;
    margin: auto;
    background: #dbdada;
    margin-top: 10px;
}

.sender {
    width: 80%;
    height: auto;
    margin: auto;
    background: #aecbdf;
    margin-left:18%;
    margin-top: 10px;
}

.bg {
    background: #e5ddd5;
}


.bgFooter {
    background: #f0f0f0;
}

.photo1{
    height: 200px !important;
    width: 125px !important;
}