<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Localiza a tu técnico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="main_content_div">
    <ion-buttons slot="start" class="btn_back">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back" class="white" style="zoom:1.5;"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="upper_div" [class.ios_test]="plt == 'ios'">
      <img src="assets/imgs/mopafinal.png" class="scooter">
    </div> -->

    <div id="map">

    </div>

  <!-- </div> -->
</ion-content>