<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
      <!-- <ion-button (click)="goHome()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title>
      Foto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
