<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
    <div class="upper_div">
      <ion-icon name="chevron-back" class="back_arrow" (click)="goBack()" style="zoom:1.9;"></ion-icon>
      <!-- <img src="assets/imgs/back2.png" class="back_arrow" (click)="goBack()"> -->

      <div class="content_div">
        <ion-label class="head_lbl">Crea tu Cuenta</ion-label>
        <div class="div_form">
          <ion-input type="text" class="ip" placeholder="Email" [(ngModel)]="email"></ion-input>
          <ion-input type="password" class="ip" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          <!-- <ion-input type="password" class="ip" placeholder="Confirmar Contraseña" [(ngModel)]="password2"></ion-input> -->
          <ion-input type="text" class="ip" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
          <ion-input type="text" class="ip" placeholder="Apellido" [(ngModel)]="apellido"></ion-input>
          <ion-input type="number" class="ip" placeholder="Teléfono" [(ngModel)]="telefono"></ion-input>
          <!-- <ion-datetime class="ip" displayFormat="DD/MM/YYYY" (ionChange)="selectFecha($event)" placeholder="Fecha de Nacimiento"></ion-datetime> -->
          <!-- <ion-select mode="ios" placeholder="Seleccione su genero" class="ip" (ionChange)="gender($event)"> -->
          <!-- <ion-select-option value="1">Masculino</ion-select-option>
            <ion-select-option value="2">Femenino</ion-select-option>
            <ion-select-option value="3">Sin Especificar</ion-select-option>
          </ion-select> -->
        </div>

        <ion-item>
          <ion-checkbox class="check" mode="ios" (ionChange)="pago($event)"></ion-checkbox> &nbsp;
          <ion-label class="small_lbl">Al hacer clic en registrarse, acepta nuestros <br> terminos y condiciones
          </ion-label>
        </ion-item>

        <ion-label class="small_lbl" (click)="goTerminos()">
          <ion-icon class="icon" slot="start" name="eye"></ion-icon>
          Ver terminos y condiciones
        </ion-label>

        <ion-button *ngIf="check" (click)="goRegister()" expand="full" shape="round" class="red_btn">
          <ion-label>
            Ingresar
          </ion-label>
        </ion-button>

        <ion-button *ngIf="!check" disabled (click)="goRegister()" expand="full" shape="round" class="red_btn">
          <ion-label>
            Ingresar
          </ion-label>
        </ion-button>
        <!-- <ion-label class="small_lbl">Al hacer clic en registrarse, acepta nuestros <br> terminos y condiciones </ion-label> -->
      </div>
    </div>

    <div class="lower_div">
      <ion-label class="bottom_lbl" (click)="goToLogin()">Ya tienes una cuenta? <span class="red_lbl">Ingresa</span>
      </ion-label>
    </div>

  </div>
</ion-content>