.textomenu {
    text-align: center;
    color: white;
  }

  .avatarm {
    // height: 110px;
    width: 25%;
    border-radius: 50%;
    // border: 1px solid white !important;
    display: inline-block;
    // margin-left: 32%;
    // margin-right: 30%;
  }

  .nombrePerfil {
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .menu_img {
    width: 25px;
  }

  .labelmenu {
    color: white;
  }

  .listSide {
    padding: 0%;
    }

  