<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Servicios para atender
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon (click)="goTrack()" name="body-outline" style="zoom:1.5;" class="more"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Hale para recargar" refreshingSpinner="circles"
        refreshingText="Recargando...">
      </ion-refresher-content>
    </ion-refresher>
  </div>

  <ion-searchbar (ionChange)="buscar($event)" placeholder="Buscar" showCancelButton="focus" mode="ios"></ion-searchbar>

  <ion-card class="cardcontent" *ngFor="let proceso of listadoServicios" (click)="checkService(proceso)">
    <img src="{{proceso.listService.service.img}}" class="multimediaCards">
    <div class="chip">
      <ion-chip class="chips">
        <ion-label color="success">{{proceso.listService.date | date }}</ion-label>
      </ion-chip>
      <ion-chip class="chips">
        <ion-label color="danger">{{proceso.listService.time}}</ion-label>
      </ion-chip>
      <ion-chip class="chips">
        <ion-label color="dark">Q {{proceso.listService.total}}</ion-label>
      </ion-chip>
      <ion-chip class="chips" *ngIf="proceso.listService.programmed===1">
        <ion-label color="warning">Programado</ion-label>
      </ion-chip>
      <br>
      <ion-chip class="chips">
        <ion-label color="primary" *ngIf="proceso.listService.programmed===0">{{proceso.listService.location.name}}</ion-label>
        <ion-label color="warning" *ngIf="proceso.listService.programmed===1">{{proceso.listService.location.name}}</ion-label>
      </ion-chip>
      <!-- <ion-button shape="round" size="small">
        <ion-icon name="location" color="dark"></ion-icon>
        <ion-label color="dark">Ir al mapa</ion-label>
      </ion-button> -->
    </div>
    <!-- <div class="card-title3">ATENDER SERVICIO</div> -->
    <div class="card-title2">{{proceso.listService.service.name}}</div>
    <div class="card-subtitle2">{{proceso.listService.service.description}}</div>
  </ion-card>

</ion-content>