.ios_test {
    padding-top: 40px !important;
}

.main_content_div {
    width: 100%;

    .upper_div {
        width: 100%;
        height: 235px;
        background-color: var(--ion-color-main);
        padding: 20px;
        position: relative;

        .heading_lbl {
            font-size: 24px;
            font-family: open-bold;
            display: block;
            text-align: left;
            color: white;
        }

        .small_lbl {
            font-size: 12px;
            color: white;
            font-family: open-regular;
            display: block;
        }

        .round_lbl {
            background: white;
            padding: 10px;
            border-radius: 25px;
            background: white;
            padding: 10px;
            border-radius: 25px;
            margin-top: 20px;
            display: block;
            width: max-content;

        }

        .scooter {
            width: 150px;
            position: absolute;
            right: 0;
            bottom: 10px;
        }
    }

    .lower_div {
        width: 100%;
        background: white;
        height: 200px;
        z-index: 99999;
        margin-top: -20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 5px;
        position: absolute;

        .card-title {
            position: absolute;
            top: 3%;
            left: 2%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: black;
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 25%;
            left: 2%;
            width: 100%;
            color: black;
        }
        
        .card-three {
            font-size: 1.0em;
            position: absolute;
            top: 70%;
            left: 2%;
            width: 100%;
            color: black;
        }

        .card_div {
            .card {
                margin-top: 15px;

                .back_image {
                    background-color: rgba(0, 0, 0, 0.8);
                    height: 160px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                    position: relative;
                    filter: brightness(0.8);

                    .time_aceptar {
                        padding: 12px;
                        position: absolute;
                        background: var(--ion-color-success);
                        bottom: 15px;
                        right: 15px;
                        border-radius: 25px;
                        font-size: 14px;
                        font-family: open-regular;
                        color: black;
                    }
                }

                .heading_lbl {
                    font-size: 20px;
                    font-family: open-bold;
                    display: block;
                    margin-top: 10px;
                }

                .price_rating {
                    display: flex;
                    height: 25px;
                    align-items: center;

                    .rating {
                        color: var(--ion-color-main);
                        font-size: 20px;
                    }

                    .red_lbl {
                        color: var(--ion-color-main);
                        font-size: 12px;
                        font-family: open-regular;
                    }

                    .small_lbl {
                        font-size: 12px;
                        color: var(--ion-color-light);
                        font-family: open-regular;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.restaurante{
    font-size: 25px;
    font-weight: bold;
}

.titulo{
    font-size: 17px;
    font-weight: bolder;
}

.descripcion{
    font-size: 15px;
    margin-left: 7px;
}

.ionChip{
    margin-left: 65%;
}

.chip{
    font-size: 15px;
    color: black;
}

.toggle{
    margin-top: 20px;
    width: 50px;
    height: 30px;
}

.status{
    font-size: 18px;
    font-family: open-bold;
    text-align: left;
    color: white;
}

.rowStatus{
    height: 30px;
}



.green{
    color: #33FF3C;
}

.red{
    color: red;
}