<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <!-- <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons> -->
    <div class="ion-text-center">
      <ion-title>
        Detalle del servicio
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-button (click)="getChat()">
      <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon> &nbsp;
      Chatea con {{nameClient}} {{apellidoClient}}
    </ion-button>
  </div>
  <br>
  <!-- <div class="restaurante ion-text-center"> {{nameService}} </div>  <br> -->
  <ion-chip color="primary" class="ionChip" (click)="getLocation()">
    <ion-icon name="location" color="primary"></ion-icon>
    <ion-label class="chip">Ir al mapa</ion-label>
  </ion-chip>
  <div class="titulo">Orden para:</div>
  <div class="descripcion"> {{nameClient}} {{apellidoClient}}</div> <br>
  <!-- <div class="titulo">Teléfono de contacto:</div>
  <div class="descripcion"> {{phoneClient}} </div> <br> -->
  <div class="titulo">Comentario espécifico del servicio:</div>
  <div class="descripcion"> {{detalleLocation}} </div> <br>
  <div class="titulo">Nombre de la ubicación:</div>
  <div class="descripcion"> {{nameLocation}} </div> <br>
  <!-- <div class="titulo">Detalles de la ubicación:</div>
  <div class="descripcion"> {{comentary_location}} </div> <br> -->

  <div class="restaurante ion-text-center"> Descripción del Servicio </div>  <br>

  <div class="titulo">Tipo de servicio: </div>
  <div class="descripcion"> {{nameService}} </div> <br>
  <div class="titulo">Tiempo de servicio: </div>
  <div class="descripcion"> {{time_services}} minutos. </div> <br>
  <div class="titulo">Número de habitaciones: </div>
  <div class="descripcion"> {{cuartos}}  </div> <br>
  <div class="titulo">Número de baños: </div>
  <div class="descripcion"> {{banios}}  </div> <br>
  <!-- <div class="titulo">Subtotal de los extra: </div>
  <div class="descripcion"> Q.{{charges}} </div> <br> -->
  <!-- <div class="titulo">Subtotal del servicio: </div>
  <div class="descripcion"> Q.{{subTotalService}} </div> <br> -->

  <div class="titulo ion-text-center green" *ngIf="transporte"> ESTE SERVICIO CUENTA CON TRANSPORTE PAGADO </div>
  <div class="titulo ion-text-center red" *ngIf="!transporte"> ESTE SERVICIO NO CUENTA CON TRANSPORTE PAGADO </div>
  <br>
  <div class="titulo">Valor total del servicio: </div>
  <div class="descripcion"> Q.{{totalService}} </div> <br>

  <div class="titulo">Tipo de pago: </div>
  <div class="descripcion"> {{tipoPago}} </div> <br>

  <ion-button *ngIf="statusCamino" (click)="irEnCamino()" expand="block" color="warning" mode="ios">
    Ir en camino
  </ion-button>

  <ion-button *ngIf="statusEmpieza" (click)="empezarServicio()" expand="block" color="primary" mode="ios">
    Empezar con el servicio
  </ion-button>

  <ion-button *ngIf="statusTermina" (click)="servicioTerminado()" expand="block" color="success" mode="ios">
    Servicio completado
  </ion-button>

</ion-content>
