<ion-menu side="start" menuId="second" type="overlay">
  <ion-header no-border>
    <ion-toolbar color="secondary">
      <ion-title class="textomenu"> MENÚ </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="secondary">

    <div class="ion-text-center">
      <img src="assets/imgs/mopaescoba.png" class="avatarm">
      <p class="nombrePerfil">{{nombreCompleto}}</p>
      <!-- <p class="nombrePerfil">{{userInfo}}</p> -->
    </div>
    <ion-list class="listSide">

      <ion-menu-toggle auto-hide="false">
        <ion-item color="secondary">
          <img src="assets/imgs/escoba.png" class="menu_img"> &nbsp; &nbsp; &nbsp; &nbsp;
          <ion-label class="labelmenu"> Servicios </ion-label>
        </ion-item>
        <ion-item color="secondary" (click)="goPedido()">
          <img src="assets/imgs/balde.png" class="menu_img"> &nbsp; &nbsp; &nbsp; &nbsp;
          <ion-label class="labelmenu"> Historial </ion-label>
        </ion-item>
        <!-- <ion-item color="secondary" (click)="goHerramientas()">
          <ion-icon class="labelmenu" name="construct-outline" slot="start"></ion-icon>
          <ion-label class="labelmenu"> Herramientas </ion-label>
        </ion-item> -->
        <ion-item color="secondary" (click)="goSalir()">
          <ion-icon class="labelmenu" name="power-outline" slot="start"></ion-icon>
          <ion-label class="labelmenu"> Salir </ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>