<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Calculo del servicio {{servicio.id}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      Seleccione el número de baños y habitaciones que su servicio incluirá.
    </ion-label>
  </ion-item>

  <ion-card>

    <div class="accordionItem close">
      <ion-card-header class="accordionItemHeading">
        <ion-row>
          <ion-col size="11">
            Condiciones del servicio
          </ion-col>
          <ion-col size="1">
            <ion-icon class="icon" style="zoom:1.4;" name="add-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content class="acordion">
        <div class="accordionItemContent">

          <ion-row>
            <ion-col size="11" class="colCss">
              <table class="egt">
                <tr>
                  <th class="thClass1">
                    Todos los servicios cuentan con la limpieza de 1 sala, 1 comedor, 1 cocina
                    y 1 lavandería, todo ambiente extra es considerado como una habitacion adicional 
                    (Habitaciones son aquellos cuartos con camas o estudios).
                    Si gusta agilizar la llegada de su técnico puede ayudar con el pago de su
                    movilizacion en el botón de abajo.
                  </th>
                </tr>
              </table>
            </ion-col>
          </ion-row>

        </div>
      </ion-card-content>
    </div>
  </ion-card>

  <hr>
  <hr>
  <hr>

  <ion-list lines="none" *ngFor="let tarifa of tarifas; index as i">
    <ion-item>
      <!-- <ion-label class="label"> -->
        Número de {{tarifa.name}}:
      <!-- </ion-label> -->
      <ion-row slot="end">
        <ion-icon name="remove-circle-outline" style="zoom:1.5;" *ngIf="tarifa.products>=1"
          (click)="removeRooms(tarifa, i)"></ion-icon> &nbsp;
        <ion-label class="cont"> {{ tarifa.products }} </ion-label>
        &nbsp; <ion-icon name="add-circle-outline" style="zoom:1.5;" (click)="addRooms(tarifa, i)"></ion-icon>
      </ion-row>
    </ion-item>
    <!-- <div class="ion-text-center">
      &nbsp; &nbsp; &nbsp;<ion-label class="textos">
        El valor individual por {{tarifa.name}} <br> es de Q. {{tarifa.price}}
      </ion-label>
    </div> -->
    <br>

  </ion-list>
  <br>
  <!-- <ion-item> -->
  <div class="div">
    <ion-row>
      <ion-col size="1">
        <ion-checkbox mode="ios" (ionChange)="pago($event)"></ion-checkbox>
      </ion-col>
      <ion-col size="11">
        <p class="label2"> Pagar transporte al técnico para que llegue más rápido. </p>
      </ion-col>
    </ion-row>
  </div>
  <!-- </ion-item> -->

  <hr>
  <hr>

  <ion-item lines="none">
    <ion-label class="labelprice"> Precio: Q. {{total1}}</ion-label>
  </ion-item>

  <hr>
  <hr>
  <hr>

  <!-- <ion-button *ngIf="totalBoo" expand="block" color="secondary" mode="ios" (click)="goTotal()">
    Calcular total
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button> -->

  <ion-button expand="block" mode="ios" (click)="goCheck()">
    Siguiente
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>

  <!-- <ion-button *ngIf="!totalBoo" expand="block" mode="ios" (click)="backTotal()">
    Regresar
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button> -->

</ion-content>