.label {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}

.label2 {
    font-size: 14px;
    margin : 0px 0px 0px 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textos {
    font-size: 12px;
    // font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}

.cont {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}

.labelprice {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}

.div {
    margin-left: 15px;
}

body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}

.accordionWrapper {
    padding: 0px;
    background: #fff;
    float: left;
    width: 80%;
    box-sizing: border-box;
    margin: 15%;
    box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionItem {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open-sans', Arial, sans-serif;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background: #D5DADD;
    color: #000000;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;

}

.open .accordionItemContent {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading {
    margin: 0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #D5DADD;
    color: #000000;
}

.acordion {
    padding: 0px;
}

.card-header {
    background-color: #D5DADD;
    color: #000000;
}

.card-content {
    padding: 0px 16px;
    max-height: 100%;
    // background-color: #A9CCE3;
}

.inputreal {
    color: #000000;
    text-align: center;
}

.inputreal1 {
    color: #000000;
}

element.style {
    transition: max-height 500ms ease 0s, padding 500ms ease 0s;
    max-height: 500px;
    padding: 0px;
}

.gridpanal {
    padding: 0px;
}

.colCss {
    margin: 0px;
    padding: 0px;
}

.egt {
    width: 110%;
    height: 22px;
    color: #fff;
    background: #fe8588;
    // border-radius: 10px;
}

.egt1 {
    width: 115%;
    height: 22px;
    color: #000000;
    background: #fff;
    // border-radius: 10px;
}


.thClass {
    width: 60px;
    padding: 7px;
}

.thClass1 {
    width: 60px;
    padding: 4px;
}