ion-content {
    --ion-background-color: #040c24;
}

.ios_test{
    padding-top: 40px !important;
}
.main_content_div{
    width: 100%;
    padding: 20px;
    height: 100%;
    // background-color: #FAFAFA;

    .back_arrow{
        width: 20px;
        color: white;
    }

    .content_div{
        padding: 15px;

        .head_lbl{
            color: var(--ion-color-main);
            font-size: 24px;
            font-weight: bold;
            display: block;
            margin-top: 5px;
            font-family: open-bold;
        }
        .small_lbl{
            font-size: 14px;
            color: white;
            font-family: open-regular;
            margin-top: 20px;
        }
        .div_form{
            margin-top: 40px;
            .ip{
                box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
                border-radius: 25px;
                margin-top: 20px;
                --padding-start : 15px;
                height: 40px;
                background: white;
            }
        }
        .red_btn{
            --background : var(--ion-color-main);
            height: 40px;
            --background-activated : var(--ion-color-main);
            margin-top: 30px;
            // box-shadow: 0px 6px 15px;
        }
    }
}

.black{
    color: white;
}