<ion-content scroll-y="false">
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">
    <ion-icon name="chevron-back" class="back_arrow" (click)="goBack()" style="zoom:1.9;"></ion-icon>
    <div class="content_div">
      <ion-label class="head_lbl">¿Olvidaste tu contraseña?</ion-label>

      <ion-label class="small_lbl">Ingrese su correo electrónico para que nuestro equipo de soporte técnico reciba su solicitud y se atienda el caso.</ion-label>

      <div class="div_form">
        <ion-input type="text" [(ngModel)]="email" class="ip" placeholder="Email"></ion-input>
      </div>

      <ion-button (click)="sendMail()" expand="full" shape="round" class="red_btn">
        <ion-label class="black">
          Enviar
        </ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
