.main_content_div{
    width: 100%;
    padding: 16px;

    .card{
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
        margin-bottom: 20px;
        position: relative;

        .image_div{
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100px;
            height: 100px;
        }
        .desc_div{
            margin-left: 20px;
            .heading_lbl{
                font-size: 20px;
                font-family: open-bold;
                display: block;
                text-align: left;
            }
            .small_lbl{
                font-size: 12px;
                color: var(--ion-color-light);
                font-family: open-regular;
                display: block;
                text-align: left;
            }
            .rating{
                color: var(--ion-color-main);
                font-size: 15px;
            }
            .red_lbl{
                color: var(--ion-color-main);
                font-size: 12px;
                font-family: open-regular;                
            }   
        }
    }
}