<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Historial de servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="card" *ngFor="let historial of historiales">
      <!-- <div class="image_div" style.backgroundImage="{{historial.service.img}}"></div> -->
      <img class="image_div" src="{{historial.listService.service.img}}">
      <div class="desc_div">
        <ion-label class="heading_lbl">{{historial.listService.service.name}}</ion-label>
        <ion-label class="small_lbl">{{historial.listService.service.description}}</ion-label>
        <ion-label class="small_lbl">{{historial.listService.commentary}}</ion-label>
        <div *ngIf="historial.listService.punctuation===1">
          <ion-icon name="star" class="rating"></ion-icon>
        </div>
        <div *ngIf="historial.listService.punctuation===2">
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
        </div>
        <div *ngIf="historial.listService.punctuation===3">
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
        </div>
        <div *ngIf="historial.listService.punctuation===4">
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
        </div>
        <div *ngIf="historial.listService.punctuation===5">
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
          <ion-icon name="star" class="rating"></ion-icon>
        </div>        <!-- <ion-label class="red_lbl"><span class="red_lbl">4.9</span> (124 rating)</ion-label> -->
      </div>
    </div>

  </div>
</ion-content>