<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Dirección de la Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map">

    </div>

</ion-content>
