<ion-content>
  <div class="main_content_div">
    <img src="assets/imgs/check.png" class="check">
    <ion-label class="red_lbl">¡Listo! Su solicitud está siendo<br> procesada. Recuerde tener los <br> implementos de limpieza preparados <br> para cuando llegue su técnico.</ion-label>
    <ion-label class="small_lbl">Puede ver el status de su servicio en <br>la sección de Mis Servicios.</ion-label>
    <ion-button (click)="goToTrackOrder()" expand="full" shape="round" class="red_btn">Ver mi servicio.</ion-button>
  </div>
</ion-content>
