<ion-content>
  <div class="main_content_div" [class.ios_test]="plt == 'ios'">

    <div class="upper_div">
      <!-- <img src="assets/imgs/back2.png" class="back_arrow" (click)="goBack()"> -->
      <ion-icon name="chevron-back" class="back_arrow" (click)="goBack()" style="zoom:1.9;"></ion-icon>

      <div class="content_div">
        <ion-label class="head_lbl">Ingresa a tu cuenta</ion-label>

        <div class="div_form">
          <ion-input type="text" class="ip" placeholder="Email" [(ngModel)]="email"></ion-input>
          <ion-input type="password" class="ip" placeholder="Contraseña" [(ngModel)]="contrasena"></ion-input>
          <ion-label class="forgot_lbl" (click)="goToForgot()">¿Olvidaste tus credenciales?</ion-label>
        </div>

        <hr>
        <ion-button (click)="goToHome()" expand="full" shape="round" class="red_btn">
         <ion-label class="black">
          Ingresar
         </ion-label>
        </ion-button>
      </div>
    </div>

    <div class="lower_div">
      <ion-label class="bottom_lbl" (click)="goToRegister()">No tienes una cuenta? <span class="red_lbl">Crea una</span>
      </ion-label>
    </div>
    
  </div>
</ion-content>