#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.textomenu {
  text-align: center;
  color: white;
}

.nombrePerfil {
  text-align: center;
  font-weight: bold;
  color: white;
}

.listSide {
  padding: 0%;
}

.labelmenu {
  color: white;
}

.avatarm {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  // border: 1px solid white !important;
  display: inline-block;
  margin-left: 32%;
  margin-right: 30%;
}

.menu_img {
  width: 25px;
}

.more {
  padding-right: 5px;
}

.multimediaEdit {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  height: 60vw;
  width: 60vw;
  border-radius: 20px;
}

.multimediaCards {
  margin-top: 25px;
  border-radius: 20px;
  height: 200px;
  box-shadow: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 60vw !important;
  width: 100% !important;
  filter:brightness(0.8);
}

.card-title {
  background: white;
  position: absolute;
  top: 5%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: black;
  text-align: center;
  align-items: center;
}

.card-subtitle {
  background: white;
  width: 100%;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 18%;
  color: black;
  text-align: center;
}

.card-title1 {
  background: white;
  position: absolute;
  top: 45%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: black;
  text-align: center;
  align-items: center;
}

.card-subtitle1 {
  background: white;
  width: 100%;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 57%;
  color: black;
  text-align: center;
}

.card-title2 {
  background: white;
  position: absolute;
  top: 35%;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  color: black;
  text-align: center;
  align-items: center;
}

.card-subtitle2 {
  background: white;
  width: 100%;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 57%;
  color: black;
  text-align: center;
}

.cardcontent{
  border-radius: 20px;
}