<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Servicios
    </ion-title> -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="body-outline" style="zoom:1.5;" class="more"></ion-icon>
        <ion-select mode="ios" interface="popover" placeholder="Mis servicios" (ionChange)="goSeeService($event)">
          <ion-select-option *ngFor="let token of serviciosListados" value="{{token | json}}"> {{token.listService.service.name}} </ion-select-option>
        </ion-select>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="buscar($event)" placeholder="Buscar" showCancelButton="focus" mode="ios"></ion-searchbar>

  <ion-card class="cardcontent" *ngFor="let servicio of listadosFilter" (click)="goService(servicio)"> 
    <img src="{{servicio.img}}" class="multimediaCards">
    <div class="card-title2">{{servicio.name}}</div>
    <div class="card-subtitle2">{{servicio.description}}</div>
  </ion-card>

</ion-content>