.title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    text-decoration: underline black;        /* Subrayado rojo */
}

.encabezado{
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-weight: bold;
    text-decoration: underline black;        /* Subrayado rojo */
}

.list{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    margin: 0px;
}

.profilImage {
    border-radius: 50%;
    box-shadow: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 30vw;
    width: 30vw;
  }

  .photo{
      width: 75%;
    }

  ion-content{
    --ion-background-color:#000;
  }