.avatarm {
    // height: 110px;
    width: 30%;
    border-radius: 50%;
    // border: 1px solid black !important;
    display: inline-block;
    // margin-left: 32%;
    // margin-right: 30%;
  }

  .title{
    font-weight: bold;
    font-size: 19px;
  }

  .text{
    font-size: 17px;
  }

  .button{
    margin-left: 25px;
    margin-right: 25px;
  }