<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Califica nuestro servicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <img src="assets/imgs/mopaescoba.png" class="avatarm">
    <br>
    <ion-label class="text">Por favor califica nuestro servicio de:</ion-label> <br>
    <ion-label class="title">{{servicio}}, </ion-label> <br>
    <ion-label class="text">a cargo del técnico:</ion-label> <br>
    <ion-label class="title">{{tecnicoName}} {{tecnicoLastName}}</ion-label> <br>
  </div>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="2">
        <img src="assets/cards/star.png" (click)="check(1)" *ngIf="mostrar0">
        <img src="assets/cards/starye.png" (click)="check(6)" *ngIf="!mostrar0">
      </ion-col>
      <ion-col size="2">
        <img src="assets/cards/star.png" (click)="check(2)" *ngIf="mostrar1">
        <img src="assets/cards/starye.png" (click)="check(7)" *ngIf="!mostrar1">        
      </ion-col>
      <ion-col size="2">
        <img src="assets/cards/star.png" (click)="check(3)" *ngIf="mostrar2">
        <img src="assets/cards/starye.png" (click)="check(8)" *ngIf="!mostrar2">
      </ion-col>
      <ion-col size="2">
        <img src="assets/cards/star.png" (click)="check(4)" *ngIf="mostrar3">
        <img src="assets/cards/starye.png" (click)="check(9)" *ngIf="!mostrar3">
      </ion-col>
      <ion-col size="2">
        <img src="assets/cards/star.png" (click)="check(5)" *ngIf="mostrar4">
        <img src="assets/cards/starye.png" (click)="check(10)" *ngIf="!mostrar4">
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-button color="primary" (click) ="handleGetStorageFinish()" class="button" expand="block">Calificar</ion-button>

</ion-content>
