<ion-content scroll-y="false">
  <div class="main_content_div">
    <div class="button_div">
      <ion-button fill="clear" color="danger" slot="end" (click)="goToLogin()">
        Iniciar sesión
      </ion-button>
    </div>

    <div class="slider_div">
      <ion-slides mode="ios" pager="ios">
        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/mopaescoba.png">
            <hr>
            <hr>
            <hr>
            <ion-label class="head_lbl">¿Qué es MOPPA?</ion-label>
            <ion-label class="small_lbl">Es una empresa que te proporciona
              un equipo de Técnicos certificados en los servicios de
              limpieza para tu hogar, oficina o departamento, concentrados en tu satisfacción.
            </ion-label>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/mopaescoba.png">
            <hr>
            <hr>
            <hr>
            <ion-label class="head_lbl">¿Qué hacemos en MOPPA?</ion-label>
            <ion-label position="fixed" class="small_lbl">Coordinamos la llegada de un Técnico de Limpieza
              certificado por Moppa a la locación que
              desees limpiar y documentamos el trabajo final para garantizar tu satisfacción.</ion-label>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="div_slide">
            <img class="slider_img" src="assets/imgs/mopaescoba.png">
            <hr>
            <hr>
            <hr>
            <ion-label class="head_lbl">Técnicos especialistas</ion-label>
            <ion-label class="small_lbl">Son profesionales de la limpieza, certificados por Moppa, con la única
              finalidad de dejar tu
              hogar, oficina o departamento limpio y presentable para tu comodidad.</ion-label>
          </div>
        </ion-slide>
      </ion-slides>
      <div class="ion-text-center">
        <ion-button (click)="goServices()" size="small" shape="round" class="red_btn">
          <ion-label class="black">
            Ver servicios
          </ion-label> &nbsp; &nbsp;
          <img src="assets/imgs/escoba.png" class="menu_img">
        </ion-button>
      </div>
    </div>

    <div class="bottom_btn_div">
      <ion-button (click)="goToRegister()" expand="full" shape="round" class="red_btn">
        <ion-label class="black">
          Crear cuenta
        </ion-label>
      </ion-button>

      <div *ngIf="statusandroid">
        <ion-button expand="full" fill="outline" shape="round" color="medium" class="fbbutton" (click)="fbLogin()">
          <ion-label class="black">
            Continuar con Facebook
          </ion-label>
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
        </ion-button>
      </div>

     <!-- <ion-button expand="full" fill="outline" shape="round" color="danger" class="gglbutton" (click)="loginGoogleAndroid()">
        <ion-label class="black">
          Continuar con Google
        </ion-label>
        <ion-icon slot="start" name="logo-google"></ion-icon>
      </ion-button> -->

      
      <div *ngIf="statusapple">
        <ion-button expand="full" fill="outline" shape="round" color="light" class="fbbutton" (click)="AppleSignIn()">
          <ion-label class="black">
            Continuar con Apple
          </ion-label>
          <ion-icon slot="start" name="logo-apple"></ion-icon>
        </ion-button> 
      </div>
    </div>

  </div>
</ion-content>