ion-content {
    --ion-background-color: #040c24;
}

::ng-deep.swiper-pagination-bullet-active {
    background: var(--ion-color-main) !important;
}
.main_content_div{
    width: 100%;
    padding: 20px;
    position: relative;
    height: 100%;

    .button_div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-family: open-regular;
    }

    .slider_div{
        ion-slide{
            // height: 65vh;

            .div_slide{
                margin-bottom: 8%;
                .slider_img{
                    margin-top: 15px;
                    width: 25%;
                }
                .head_lbl{
                    color: var(--ion-color-main);
                    font-size: 24px;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    // margin-top: 10px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                .small_lbl{
                    color : #ffffff;
                    font-size: 15px;
                    // margin-top: 40px;
                    text-align: justify;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }
        }
    }

    .bottom_btn_div{
        position: absolute;
        bottom: 20px;
        width: 90%;
        .red_btn{
            --background : var(--ion-color-main);
            height: 35px;
            --background-activated : var(--ion-color-main);
        }
        .fbbutton{
            margin-top: 10px;
            color: white;
            // color: #2A43C1;
            height: 35px;
            --background-activated : #F1F0F6;
        }
        .gglbutton{
            margin-top: 10px;
            height: 35px;
            --background-activated : #F1F0F6;
        }
    }
}

.swiper-slide img {
    width: auto;
    max-width: 110%;
    height: auto;
    max-height: 100%;
}

.black{
    color: white;
}

.swiper-pagination  {
    bottom: 40px ;
    left: 0;
    width: 100%;
}

.menu_img {
    width: 25px;
  }