<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Técnicos mas cercanos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 class="titles">Seleccione 1 de los 3 técnicos mas cercanos:</h3>

  <ion-list>
    <ion-item *ngFor="let item of arrTec" >
      <ion-avatar slot="start">
        <img src="assets/imgs/user.jpg">
      </ion-avatar>
      <ion-label>
        <h2> {{item.firstName}} {{item.secondName}} </h2>
        <p> {{item.phone}} </p>
        <p> Técnico Especialista </p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>



</ion-content>