.titles{
    text-align: center;
}

.red_btn{
    --background : var(--ion-color-main);
    height: 40px;
    --background-activated : var(--ion-color-main);
    margin-top: 45px;
    padding-left: 16px;
    padding-right: 16px;
}