<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goRegister()"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Términos y condiciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <img class="escoba" src="./assets/imgs/mopaescoba.png">
  </div>
  <br>
  <ion-label class="labelText">
    Términos y Condiciones
    Última actualización: 24 de julio 2020
    1. Relación contractual
    Las presentes Condiciones de uso (“Condiciones”) regulan el acceso o uso que usted haga, como persona, desde
    cualquier país del mundo (excluidos los Estados Unidos y sus territorios y posesiones) de aplicaciones, páginas web,
    contenido, productos y servicios (los “Servicios”) puestos a disposición por Moppa, Sociedad Anónima, una sociedad
    constituida en Guatemala, con domicilio fiscal en 8va Avenida 10-30 zona 1, Quetzaltenango, Quetzaltenango. CP 9001
    en la Ciudad de Quetzaltenango de Guatemala.
    LEA ESTAS CONDICIONES DETENIDAMENTE ANTES DE ACCEDER O USAR LOS SERVICIOS.
    Mediante su acceso y uso de los Servicios usted acuerda vincularse jurídicamente por estas Condiciones, que
    establecen una relación contractual entre usted y Moppa. Si usted no acepta estas Condiciones, no podrá acceder o
    usar los Servicios. Estas Condiciones sustituyen expresamente los acuerdos o compromisos previos con usted. Moppa
    podrá poner fin de inmediato a estas Condiciones o cualquiera de los Servicios respecto de usted o, en general,
    dejar de ofrecer o denegar el acceso a los Servicios o cualquier parte de ellos, en cualquier momento y por
    cualquier motivo.
    Se podrán aplicar condiciones suplementarias a determinados Servicios, como políticas para un evento, una actividad
    o una promoción particular, y dichas condiciones suplementarias se le comunicarán en relación con los Servicios
    aplicables. Las condiciones suplementarias se establecen además de las Condiciones, y se considerarán una parte de
    estas, para los fines de los Servicios aplicables. Las condiciones suplementarias prevalecerán sobre las Condiciones
    en el caso de conflicto con respecto a los Servicios aplicables.
    Moppa podrá modificar las Condiciones relativas a los Servicios cuando lo considere oportuno. Las modificaciones
    serán efectivas después de la publicación por parte de Moppa de dichas Condiciones actualizadas en esta ubicación o
    las políticas modificadas o condiciones suplementarias sobre el Servicio aplicable. Su acceso o uso continuado de
    los Servicios después de dicha publicación constituye su consentimiento a vincularse por las Condiciones y sus
    modificaciones.
    La recopilación y el uso que hacemos de la información personal en relación con los Servicios es conforme se dispone
    en la Política de privacidad de Moppa, la cual puede solicitar al correo moppa.gt@gmail.com. Moppa podrá facilitar a
    un procesador de reclamaciones o a una aseguradora cualquier información necesaria (incluida su información de
    contacto) si hubiera quejas, disputas o conflictos, que pudieran incluir un accidente, implicándole a usted y a un
    tercero (incluido el ´Técnico de limpiez de la compañía de limpieza) y dicha información o dichos datos fueran
    necesarios para resolver la queja, la disputa o el conflicto.
    2. Los Servicios
    Los Servicios constituyen una plataforma de tecnología que permite a los usuarios de aplicaciones móviles de Moppa o
    páginas web proporcionadas como parte de los Servicios (cada una, una “Aplicación”) organizar y planear el servicios
    de limpieza con terceros proveedores independientes de dichos servicios, incluidos terceros aseadores independientes
    y terceros proveedores remodeladores independientes, conforme a un acuerdo con Moppa o algunos afiliados de Moppa
    (“Terceros proveedores”). A no ser que Moppa lo acepte mediante un contrato separado por escrito con usted, los
    Servicios se ponen a disposición sólo para su uso personal, no comercial. USTED RECONOCE QUE MOPPA NO PRESTA
    SERVICIOS DE LIMPIEZA, DESINFECCIÓN ASEO O REMODELACIONES O FUNCIONA COMO UNA EMPRESA DE LIMPIEZA Y QUE DICHOS
    SERVICIOS DE LIMPIEZA, DESINFECCIÓN ASEO O REMODELACIONES SE PRESTAN POR TERCEROS CONTRATISTAS INDEPENDIENTES, QUE
    NO ESTÁN EMPLEADOS POR MOPPA NI POR NINGUNA DE SUS AFILIADAS.
    Licencia.
    Sujeto al cumplimiento de estas Condiciones, Moppa le otorga una licencia limitada, no exclusiva, no sublicenciable,
    revocable, no transferible para: (i) el acceso y uso de las Aplicaciones en su dispositivo personal sólo en relación
    con su uso de los Servicios; y (ii) el acceso y uso de cualquier contenido, información y material relacionado que
    pueda ponerse a disposición a través de los Servicios, en cada caso sólo para su uso personal, no comercial. Moppa y
    sus licenciantes se reservan cualquier derecho que no haya sido expresamente otorgado por el presente.
    Restricciones.
    Usted no podrá: (i) retirar cualquier nota de derechos de autor, marca registrada u otra nota de propiedad de
    cualquier parte de los Servicios; (ii) reproducir, modificar, preparar obras derivadas sobre los Servicios,
    distribuir, licenciar, arrendar, revender, transferir, exhibir públicamente, presentar públicamente, transmitir,
    retransmitir o explotar de otra forma los Servicios, excepto como se permita expresamente por Moppa; (iii)
    descompilar, realizar ingeniería inversa o desmontar los Servicios, excepto como se permita por la ley aplicable;
    (iv) enlazar, reflejar o enmarcar cualquier parte de los Servicios; (v) causar o lanzar cualquier programa o script
    con el objeto de extraer, indexar, analizar o de otro modo realizar prospección de datos de cualquier parte de los
    Servicios o sobrecargar o bloquear indebidamente la operación y/o funcionalidad de cualquier aspecto de los
    Servicios; o (vi) intentar obtener un acceso no autorizado o dañar cualquier aspecto de los Servicios o sus sistemas
    o redes relacionados.
    Prestación de los Servicios.
    Usted reconoce que los Servicios de Moppa podrán ponerse a su disposición con: (i) ciertas subsidiarias o afiliados
    de Moppa; o (ii) Terceros proveedores independientes, incluidos personal de limpieza, desinfección, aseo o
    remodelaciones de empresas externas de Moppa.
    Usted reconoce que los servicios de limpieza ofrecidos en la plataforma proporcionada por Moppa, no incluyen
    limpieza de horno, refrigerador, tendido manual de ropa lavada, limpieza de cualquier metal que ya haya sido dañado
    con el tiempo por fenómenos químicos, ej. la corrosión, “ojos de pescado” o cualquier cosa que requiera métodos
    químicos o industriales para poder ser limpiado. Sin embargo, estos servicios podrán ser contratados por su persona
    con el Tercero Proveedor que realiza el Servicio en su residencia, por lo que usted acepta que Moppa no tendrá
    ninguna responsabilidad en esta negociación, ni en los resultados finales de dichas negociaciones, las cuales son
    fuera de la plataforma brindada por Moppa.
    no incluye limpieza de horno ni refrigerador
    Servicios y contenido de Terceros.
    Los Servicios podrán ponerse a disposición o ser accesibles en relación con servicios y contenido de terceros
    (incluida la publicidad) que Moppa no controle. Usted reconoce que podrán ser de aplicación diferentes condiciones y
    políticas de privacidad al uso que haga de dichos servicios y contenido de terceros. Moppa no respalda dichos
    servicios y contenido de terceros y Moppa en ningún caso será responsable de cualquier producto o servicio de dichos
    terceros proveedores. Adicionalmente, Apple Inc., Google, Inc., Microsoft Corporation o BlackBerry Limited y/o sus
    correspondientes subsidiarias o afiliados internacionales serán terceros beneficiarios en este contrato si usted
    accede a los Servicios utilizando Aplicaciones desarrolladas para dispositivos móviles con sistema iOS, Android,
    Microsoft Windows, respectivamente. Estos terceros beneficiarios no son parte de este contrato y no son responsables
    de la prestación o apoyo de los Servicios de ninguna manera. Su acceso a los Servicios utilizando estos dispositivos
    se sujeta a las condiciones establecidas en las condiciones de servicio de terceros beneficiarios aplicables.
    Titularidad.
    Los Servicios y todos los derechos relativos a estos son y permanecerán de la propiedad de Moppa o de sus
    licenciantes. Ninguna de estas Condiciones ni su uso de los Servicios le transfieren u otorgan ningún derecho: (i)
    sobre o en relación con los Servicios, excepto en cuanto a la licencia limitada otorgada anteriormente; o bien (ii)
    a utilizar o mencionar en cualquier modo a los nombres de empresa, logotipos, nombres de producto y servicio, marcas
    comerciales o marcas de servicio de Moppa o de sus licenciantes.
    3. Su uso de los Servicios
    Cuentas de usuario.
    Con el fin de usar la mayor parte de los aspectos de los Servicios, usted debe registrarse y mantener activa una
    cuenta personal de usuario de los Servicios (“Cuenta”). Para obtener una Cuenta debe tener como mínimo 18 años, o
    tener la mayoría de edad legal en su jurisdicción (si es distinta a los 18 años). El registro de la cuenta le
    requiere que comunique a Moppa determinada información personal, como su nombre, dirección, número de teléfono
    móvil, así como por lo menos un método de pago válido (bien una tarjeta de crédito, débito, prepago, cuenta con un
    procesador de pagos efectivo en las ciudades en que este método esté disponible). Usted se compromete a mantener la
    información en su Cuenta de forma exacta, completa y actualizada. Si no mantiene la información de Cuenta de forma
    exacta, completa y actualizada, incluso el tener un método de pago inválido o que haya vencido, podrá resultar en su
    imposibilidad para acceder y utilizar los Servicios o en la resolución por parte de Moppa de este Condiciones
    celebrado con usted. Usted es responsable de toda la actividad que ocurre en su Cuenta y se compromete a mantener en
    todo momento de forma segura y secreta el nombre de usuario y la contraseña de su Cuenta. A menos que Moppa permita
    otra cosa por escrito, usted solo puede poseer una Cuenta.
    Requisitos y conducta del usuario.
    El Servicio no está disponible para el uso de personas menores de 18 años. Usted no podrá autorizar a terceros a
    utilizar su Cuenta, asimismo no podrá permitir a personas menores de 18 años que reciban servicios de limpieza,
    desinfección aseo o remodelaciones de Terceros proveedores, a menos que aquellos sean acompañados por usted. No
    podrá ceder o transferir de otro modo su Cuenta a cualquier otra persona o entidad. Usted acuerda cumplir con todas
    las leyes aplicables al utilizar los Servicios y solo podrá utilizar los Servicios con fines legítimos (p. ej., no
    para la limpieza de materiales ilegales o peligrosos). En el uso de los Servicios, no causará estorbos, molestias,
    incomodidades o daños a la propiedad, tanto al Tercero proveedor como a cualquier otra parte. En algunos casos, se
    le podrá requerir que facilite un documento de identidad u otro elemento de verificación de identidad para el acceso
    o uso de los Servicios, y usted acepta que se le podrá denegar el acceso o uso de los Servicios si se niega a
    facilitar el documento de identidad o el elemento de verificación de identidad.
    Mensajes de texto.
    Al crear una Cuenta, usted acepta que los Servicios le puedan enviar mensajes de texto informativos (SMS) como parte
    de la actividad comercial normal de su uso de los Servicios. Usted podrá solicitar la no recepción de mensajes de
    texto informativos (SMS) de Moppa en cualquier momento enviando un correo electrónico a moppa.gt@gmail.com indicando
    que no desea recibir más dichos mensajes, junto con el número de teléfono del dispositivo móvil que recibe los
    mensajes. Usted reconoce que solicitar la no recepción de mensajes de texto informativos (SMS) podrá afectar al uso
    que usted haga de los Servicios.
    Códigos promocionales.
    Moppa podrá, a su sola discreción, crear códigos promocionales que podrán ser canjeados por crédito de Cuenta u
    otros elementos o beneficios relacionados con los Servicios y/o los servicios de un Tercero proveedor, con sujeción
    a cualquier condición adicional que Moppa establezca sobre la base de cada código promocional (“Códigos
    promocionales”). Moppa acuerda que los Códigos promocionales: (i) deben usarse para la audiencia y el propósito
    deseado, y de manera lícita; (ii) no podrán duplicarse, venderse o transferirse de ninguna manera, o ponerse a
    disposición del público general (tanto si se publican en un foro público como de otra forma), a menos que sea con el
    permiso de Moppa; (iii) podrán ser invalidados por Moppa en cualquier momento por cualquier motivo sin
    responsabilidad para Moppa; (iv) podrán usarse solo conforme a las condiciones específicas que Moppa establezca para
    dicho Código promocional; (v) no son válidos como efectivo; y (vi) podrán caducar antes de que usted los utilice.
    Moppa se reserva el derecho de retener o deducir el crédito u otros elementos o beneficios obtenidos a través de la
    utilización de los Códigos promocionales por usted o cualquier otro usuario en el caso de que Moppa determine o crea
    que el uso o el canje de los Códigos promocionales fue de modo erróneo, fraudulento, ilegal o infringiendo las
    condiciones del Código promocional o las presentes Condiciones.
    Contenido proporcionado por el Usuario.
    Moppa podrá, a su sola discreción, permitirle cuando considere oportuno, que envíe, cargue, publique o de otro modo
    ponga a disposición de Moppa a través de los Servicios contenido e información de texto, audio y/o visual, incluidos
    comentarios y opiniones relativos a los Servicios, iniciación de peticiones de apoyo, así como presentación de
    admisiones para competiciones y promociones (“Contenido de usuario”). Todo Contenido de usuario facilitado por usted
    seguirá siendo de su propiedad. No obstante, al proporcionar Contenido de usuario a Moppa, usted otorga una licencia
    mundial, perpetua, irrevocable, transferible, libre de regalías, con derecho a sublicenciar, usar, copiar,
    modificar, crear obras derivadas, distribuir, exhibir públicamente, presentar públicamente o de otro modo explotar
    de cualquier manera dicho Contenido de usuario en todos los formatos y canales de distribución, conocidos ahora o
    ideados en un futuro (incluidos en relación con los Servicios y el negocio de Moppa y en sitios y servicios de
    terceros), sin más aviso o consentimiento de usted y sin requerirse el pago a usted o a cualquier otra persona o
    entidad.
    Usted declara y garantiza que: (i) es el único y exclusivo propietario de todo el Contenido de usuario o que tiene
    todos los derechos, licencias, consentimientos y permisos necesarios para otorgar a Moppa la licencia al Contenido
    de usuario como establecido anteriormente; y (ii) ni el Contenido de usuario ni su presentación, carga, publicación
    o puesta a disposición de otro modo de dicho Contenido de usuario, ni el uso por parte de Moppa del Contenido de
    usuario como está aquí permitido, infringirán, malversarán o violarán la propiedad intelectual o los derechos de
    propiedad de un tercero o los derechos de publicidad o privacidad o resultarán en la violación de cualquier ley o
    reglamento aplicable.
    Usted acuerda no proporcionar Contenido de usuario que sea difamatorio, calumnioso, odioso, violento, obsceno,
    pornográfico, ilícito o de otro modo ofensivo, como determine Moppa, a su sola discreción, tanto si dicho material
    pueda estar protegido o no por la ley. Moppa podrá, a su sola discreción y en cualquier momento y por cualquier
    motivo, sin avisarle previamente, revisar, controlar o eliminar Contenido de usuario, pero sin estar obligada a
    ello.
    Acceso a la red y dispositivos.
    Usted es responsable de obtener el acceso a la red de datos necesario para utilizar los Servicios. Podrán aplicarse
    las tarifas y tasas de datos y mensajes de su red móvil si usted accede o utiliza los Servicios desde un dispositivo
    inalámbrico y usted será responsable de dichas tarifas y tasas. Usted es responsable de adquirir y actualizar el
    hardware compatible o los dispositivos necesarios para acceder y utilizar los Servicios y Aplicaciones y cualquier
    actualización de estos. Moppa no garantiza que los Servicios, o cualquier parte de estos, funcionen en cualquier
    hardware o dispositivo particular. Además, los Servicios podrán ser objeto de disfunciones o retrasos inherentes al
    uso de Internet y de las comunicaciones electrónicas.
    4. Pago
    Usted entiende que el uso de los Servicios puede derivar en cargos por los servicios o bienes que reciba de un
    Tercer proveedor incluyendo cargos de peajes, recargos, estacionamientos o similares (“Cargos”). Después de que haya
    recibido los servicios u obtenido los bienes mediante el uso de los Servicios, Moppa facilitará su pago de los
    Cargos aplicables en nombre del Tercero proveedor como agente de cobro limitado del Tercero proveedor. Moppa está
    establecido Guatemala, por lo que es posible que los bancos del país donde utilizas el servicio puedan aplicar
    tarifas de conversión de monedas y de uso internacional que no se reflejarán en la Aplicación o el correo
    electrónico enviado por Moppa. El pago de los Cargos de dicha manera se considerará como el pago efectuado
    directamente por usted al Tercero proveedor. Los Cargos incluirán los impuestos aplicables cuando se requiera por
    ley. Los Cargos pagados por usted son definitivos y no reembolsables, a menos que Moppa determine lo contrario.
    Usted conserva el derecho de solicitar Cargos más bajos de un Tercero proveedor para los servicios o bienes
    recibidos por usted de dicho Tercero proveedor en el momento en que reciba dichos servicios o bienes. Moppa
    responderá en consecuencia a cualquier solicitud de un Tercero proveedor para modificar los Cargos por un servicio o
    bien en particular. Los cargos pueden incluir otras cuotas, peajes y/o recargos aplicables, incluyendo cuotas por
    solicitud, cuotas o cargos municipales, estatales o nacionales/federales, cargos por demoras, recargos
    aeroportuarios o tarifas de procesamiento por pagos fraccionados, entre otros que sean aplicables.
    Todos los Cargos son pagaderos inmediatamente y el pago se facilitará por Moppa utilizando el método de pago
    preferido indicado en su Cuenta, y después de ello Moppa le enviará un recibo por correo electrónico. Si se
    determina que el método de pago de su Cuenta principal ha caducado, es inválido o de otro modo no sirve para
    cobrarle, usted acepta que Moppa, como agente de cobro limitado del Tercero proveedor, utilice un método de pago
    secundario en su Cuenta, si estuviera disponible.
    Moppa, en cualquier momento y a su sola discreción, se reserva el derecho de establecer, eliminar y/o revisar los
    Cargos para alguno o todos los servicios o bienes obtenidos a través del uso de los Servicios. Además, usted
    reconoce y acepta que los Cargos aplicables en determinadas zonas geográficas podrán incrementar sustancialmente
    durante los periodos de alta demanda. Moppa usará los esfuerzos razonables para informarle de los Cargos que podrán
    aplicarse, siempre y cuando usted sea responsable de los Cargos incurridos en su Cuenta, independientemente de que
    usted conozca dichos Cargos o los importes de estos. Moppa podrá, cuando lo considere oportuno, proporcionar a
    determinados usuarios ofertas promocionales y descuentos que pueden resultar en el cobro de diferentes importes por
    estos o similares servicios o bienes obtenidos a través del uso de los Servicios, y usted acepta que dichas ofertas
    promocionales y descuentos, a menos que también se pongan a su disposición, no se tendrán en cuenta en el uso por su
    parte de los Servicios o los Cargos aplicados a usted. Usted podrá optar por cancelar su solicitud para los
    servicios o bienes de un Tercero proveedor en cualquier momento antes de la llegada de ese Tercero proveedor, en
    cuyo caso se le podrá cobrar una tasa de cancelación (“Cobros extra”). Asimismo usted acepta que si la cancelación
    se dá en cualquier momento en el que el Técnico de Limpieza ya haya empezado el trabajo contratado, esta se cobrará
    en su totalidad, sin ningún reembolso.
    Esta estructura de pago está destinada para compensar plenamente al Tercero proveedor por los servicios o bienes
    proporcionados. Cualquier manifestación por parte de Moppa (en la página web de Moppa o en los materiales de
    marketing de Moppa) en el sentido de que dar una propina es “voluntario”, “no requerido”, y/o “incluido” en los
    pagos que realiza para los servicios o bienes proporcionados no pretende sugerir que Moppa proporciona importes
    adicionales, aparte de los descritos anteriormente, al Tercero proveedor. Usted entiende y acepta que, mientras es
    libre de proporcionar un pago adicional como gratificación a cualquier Tercero proveedor que le proporcione
    servicios o bienes obtenidos mediante el Servicios, no tiene obligación de ello. Las gratificaciones son
    voluntarias. Después de que haya recibido los bienes o servicios obtenidos a través del Servicio, tendrá la
    oportunidad de calificar su experiencia y dejar comentarios adicionales sobre el Tercero proveedor.
    Tarifa de reparación, limpieza extra o cargos por objetos olvidados.
    Usted será responsable del coste de la reparación por daños o de la ”limpieza extra” (tareas no mencionadas en el
    servicio contratado) y cualquier otro perjuicio causado a las propiedades del Tercero proveedor, que se ocasionen
    por el uso de los Servicios en su Cuenta que sobrepasen los daños considerados normales por “el desgaste” y la
    ‘limpieza necesaria extra que no fue mencionada al momento que usted solicitó el servicio’ (“Cobros extra”). En el
    caso de que un Tercero proveedor informe de la necesidad de reparación o limpieza extra, y dicha reparación o
    limpieza extra para concretar el servicio contratado se verifique por Moppa a su razonable discreción, Moppa se
    reserva el derecho de facilitar el pago por el coste razonable de dicha reparación o limpieza extra en nombre del
    Tercero proveedor utilizando su método de pago indicado en su Cuenta. Dichos importes, así como aquellos cargos por
    la devolución de objetos olvidados (en caso de limpiezas en residencias utilizadas en la modalidad de “hotel”) se
    transferirán por Moppa al correspondiente Tercero proveedor y no son reembolsables.
    Los valores correspondientes a los cargos que se realicen a Usted, por limpieza extra, daños o devolución de objetos
    olvidados, los podrá solicitar al correo moppa.gt@gmail.com y podrán ser actualizados en todo momento a discreción
    de Moppa.
    5. Renuncias; Limitación de responsabilidad; Indemnidad.
    RENUNCIA.
    LOS SERVICIOS SE PROPORCIONAN “TAL CUAL” Y “COMO DISPONIBLES”. MOPPA RENUNCIA A TODA DECLARACIÓN Y GARANTÍA,
    EXPRESA, IMPLÍCITA O ESTATUTARIA, NO EXPRESAMENTE ESTABLECIDA EN ESTAS CONDICIONES, INCLUIDAS LAS GARANTÍAS
    IMPLÍCITAS DE COMERCIABILIDAD, IDONEIDAD PARA UN FIN PARTICULAR Y NO VIOLACIÓN. ADEMÁS, MOPPA NO HACE DECLARACIÓN NI
    PRESTA GARANTÍA ALGUNA RELATIVA A LA FIABILIDAD, PUNTUALIDAD, CALIDAD, IDONEIDAD O DISPONIBILIDAD DE LOS SERVICIOS O
    CUALQUIERA DE LOS SERVICIOS O BIENES SOLICITADOS A TRAVÉS DEL USO DE LOS SERVICIOS, O QUE LOS SERVICIOS NO SERÁN
    INTERRUMPIDOS O ESTARÁN LIBRES DE ERRORES. MOPPA NO GARANTIZA LA CALIDAD, IDONEIDAD, SEGURIDAD O HABILIDAD DE LOS
    TERCEROS PROVEEDORES. USTED ACUERDA QUE TODO RIESGO DERIVADO DE SU USO DE LOS SERVICIOS Y CUALQUIER SERVICIO O BIEN
    SOLICITADO EN RELACIÓN CON AQUELLOS SERÁ ÚNICAMENTE SUYO, EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEY APLICABLE.
    RENUNCIA A CUALQUIER INVESTIGACIÓN DE CALIDAD AL NEGAR LA DOCUMENTACIÓN FOTOGRÁFICA DE LOS CLIENTES AL MOMENTO DE
    FINALIZAR UN SERVICIO.
    LIMITACIÓN DE RESPONSABILIDAD.
    MOPPA NO SERÁ RESPONSABLE DE DAÑOS INDIRECTOS, INCIDENTALES, ESPECIALES, EJEMPLARES, PUNITIVOS O EMERGENTES,
    INCLUIDOS EL LUCRO CESANTE, LA PÉRDIDA DE DATOS, LA LESIÓN PERSONAL O EL DAÑO A LA PROPIEDAD, NI DE PERJUICIOS
    RELATIVOS, O EN RELACIÓN CON, O DE OTRO MODO DERIVADOS DE CUALQUIER USO DE LOS SERVICIOS, INCLUSO AUNQUE MOPPA HAYA
    SIDO ADVERTIDO DE LA POSIBILIDAD DE DICHOS DAÑOS. MOPPA NO SERÁ RESPONSABLE DE CUALQUIER DAÑO, RESPONSABILIDAD O
    PÉRDIDA QUE DERIVEN DE: (I) SU USO O DEPENDENCIA DE LOS SERVICIOS O SU INCAPACIDAD PARA ACCEDER O UTILIZAR LOS
    SERVICIOS; O (ii) CUALQUIER TRANSACCIÓN O RELACIÓN ENTRE USTED Y CUALQUIER TERCERO PROVEEDOR, AUNQUE MOPPA HUBIERA
    SIDO ADVERTIDO DE LA POSIBILIDAD DE DICHOS DAÑOS. MOPPA NO SERÁ RESPONSABLE DEL RETRASO O DE LA FALTA DE EJECUCIÓN
    RESULTANTE DE CAUSAS QUE VAYAN MÁS ALLÁ DEL CONTROL RAZONABLE DE MOPPA.EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE
    MOPPA HACIA USTED EN RELACIÓN CON LOS SERVICIOS POR TODOS LOS DAÑOS, LAS PÉRDIDAS Y LOS JUICIOS PODRÁ EXCEDER DE
    QUINIENTOS QUETZALES (Q500).
    USTED PODRÁ UTILIZAR LOS SERVICIOS DE MOPPA PARA SOLICITAR Y PLANIFICAR SERVICIOS DE LIMPIEZA, DESINFECCIÓN
    DESINFECCIÓN, ASEO O REMODELACIONES CON TERCEROS PROVEEDORES, PERO ACEPTA QUE MOPA NO TIENE RESPONSABILIDAD ALGUNA
    HACIA USTED EN RELACIÓN CON CUALQUIER SERVICIO DE LIMPIEZA, DESINFECCIÓN, ASEO O REMODELACIONES PRESTADO A USTED POR
    TERCEROS PROVEEDORES QUE NO SEA COMO SE HA ESTABLECIDO EXPRESAMENTE EN ESTAS CONDICIONES.
    LAS LIMITACIONES Y LA RENUNCIA EN ESTE APARTADO 5 NO PRETENDEN LIMITAR LA RESPONSABILIDAD O ALTERAR SUS DERECHOS
    COMO CONSUMIDOR QUE NO PUEDAN EXCLUIRSE SEGÚN LA LEY APLICABLE.
    Indemnidad.
    Usted acuerda mantener indemnes y responder frente a MOPPA y sus consejeros, directores, empleados y agentes por
    cualquier reclamación, demanda, pérdida, responsabilidad y gasto (incluidos los honorarios de abogados) que deriven
    de: (i) su uso de los Servicios o servicios o bienes obtenidos a través de su uso de los Servicios; (ii) su
    incumplimiento o violación de cualquiera de estas Condiciones; (iii) el uso por parte de MOPPA de su Contenido de
    usuario; o (iv) su infracción de los derechos de cualquier tercero, incluidos Terceros proveedores.
    6. Legislación aplicable; Arbitraje.
    La relación que usted tiene con MOPPA se rige por lo dispuesto en las leyes de la República de Guatemala. Por lo
    anterior, al aceptar los presentes términos de uso, acepta someterse a la jurisdicción de los Tribunales con sede en
    la Ciudad de Guatemala, Guatemala, para la resolución de cualquier controversia que pudiera existir entre Moppa y su
    persona, renunciando expresamente a cualquier otra jurisdicción que pudiera corresponder en función de tu domicilio
    presente o futuro o cualquier otra circunstancia.

    7. Otras disposiciones
    Reclamaciones por infracción de derechos de autor.
    Las reclamaciones por infracción de derechos de autor deberán enviarse al agente designado de Moppa al correo
    moppa.gt@gmail.com
    Notificaciones.
    Moppa podrá notificar por medio de una notificación general en los Servicios, mediante un correo electrónico enviado
    a su dirección electrónica en su Cuenta o por comunicación escrita enviada a su dirección, según lo dispuesto en su
    Cuenta.
    Disposiciones generales.
    No podrá ceder ni transferir estas Condiciones, en todo o en parte, sin el consentimiento previo por escrito de
    Moppa. Usted da su aprobación a Moppa para ceder o transferir estas Condiciones, en todo o en parte, incluido a: (i)
    una subsidiaria o un afiliado; (ii) un adquirente del capital, del negocio o de los activos de Moppa; o (iii) un
    sucesor por fusión. No existe entre usted, MOPPA o cualquier Tercer proveedor una empresa conjunta o relación de
    socios, empleo o agencia como resultado del contrato entre usted y MOPPA o del uso de los Servicios.
    Si cualquier disposición de estas Condiciones se considerara ilegal, nula o inexigible, ya sea en su totalidad o en
    parte, de conformidad con cualquier legislación, dicha disposición o parte de esta se considerará que no forma parte
    de estas Condiciones, aunque la legalidad, validez y exigibilidad del resto de las disposiciones de estas
    Condiciones no se verá afectada. En ese caso, las partes deberán reemplazar dicha disposición ilegal, nula o
    inexigible, en todo o en parte por una disposición legal, válida y exigible que tenga, en la medida de lo posible,
    un efecto similar al que tenía la disposición ilegal, nula o inexigible, dados los contenidos y el propósito de
    estas Condiciones. Estas Condiciones constituyen el contrato íntegro y el entendimiento entre las partes en relación
    con el objeto y sustituye y reemplaza a todos los contratos o acuerdos anteriores o contemporáneos en relación con
    dicho objeto. En estas Condiciones, las palabras “incluido/a/os/as” e “incluye/n” significan “incluido, de forma
    meramente enunciativa”.
  </ion-label>

</ion-content>