#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 100%;
}
 
.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}


.search{
  padding-top: 15px;
}

.red_btn{
  --background : var(--ion-color-main);
  --background-activated : var(--ion-color-main);
  height: 40px;
  width: 85%;
  position: absolute;
  // margin-top: 113% !important ;
  bottom: 25px;
  padding-left: 80px;
  // padding-right: auto;
  z-index: 100;
}

.inputLocation{
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin-top: 7px;
  border-radius: 10px;
  border-color: #7C7C7C;
}

.classItem{ 
  --background : var(--ion-color-domain);
}

.white{
  color: white;
}

.classInput{
  --background : white;
  border-radius: 20px;
  --padding-start : 10px;
}