<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!-- <ion-back-button> </ion-back-button> -->
      <ion-button (click)="presentAlertConfirm()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar color="tertiary" class="search" showCancelButton="focus" mode="ios" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Busca un lugar"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content> 
  
  <ion-item mode="ios" class="classItem">
    <ion-label class="white" position="floating">Detalles adicionales de la ubicación: </ion-label>
    <ion-input mode="ios" class="classInput" spellcheck="true" [(ngModel)]="nameLocation" placeholder="Ejemplo: Número de casa 21-20"></ion-input>
    <br>
  </ion-item>

  <!-- <ion-item mode="ios" class="classItem">
    <ion-label class="white" position="floating">Detalles de la ubicación: </ion-label>
    <ion-input mode="ios" class="classInput" spellcheck="true" [(ngModel)]="noteLocation" placeholder="Ingrese alguna referencia de la ubicación"></ion-input>
  </ion-item> -->
  

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="loadMap()"  ion-fab color="primary">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="map-wrapper" style="height: 85%;">      
    <div id="map_center" >
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map" ></div>
  </div>   

  <ion-button class="red_btn" expand="block" color="primary" (click)="handleGetStorageUser()">
    Guardar ubicacion
  </ion-button>

</ion-content>


