<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!-- <ion-back-button> </ion-back-button> -->
      <ion-button (click)="goHome()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Estatus de su servicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <hr>
    <!-- <ion-buttons slot="end" class="chat_lbl">
      <ion-button (click)="goMap()" *ngIf="!cancelService" fill="outline" slot="end" class="button" color="primary" shape="round">
        <ion-label class="red_lbl"> Ver Mapa<ion-icon name="location" class="red_chat"></ion-icon>
        </ion-label>
      </ion-button>
    </ion-buttons> -->

    <div #mapElement id="map">

    </div>

    <ion-label class="delivery_lbl">Tiempo estimado de llegada</ion-label>
    <ion-label *ngIf="!cancelService" class="red_bold">{{duracion}}</ion-label>
    <ion-label *ngIf="cancelService" class="red_bold">Buscando Técnico</ion-label>

    <div class="user_rating">
      <div class="left_div">
        <img src="assets/imgs/user.jpg" class="user_image">
        <div class="inner_div">
          <ion-label class="small_lbl">Su técnico</ion-label>
          <ion-label class="bold_lbl"> {{firstName}} {{secondName}} </ion-label>        
          <!-- <ion-label class="small_lbl">{{tecnicos.phone}}</ion-label> -->
        </div>
      </div>

      <div class="right_div" >
        <!-- <ion-label class="red_lbl">
          <ion-icon name="star"></ion-icon> 4.9
        </ion-label>
        <ion-label class="small_lbl">(124 Ratings)</ion-label> -->
        <!-- <ion-buttons slot="end"> -->
          <ion-button (click)="getChat()">
            <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
          </ion-button>
          <!-- <ion-button (click)="goMap()" color="secondary">
            <ion-icon slot="icon-only" name="locate"></ion-icon>
          </ion-button> -->
        <!-- </ion-buttons> -->
      </div>
    </div>

    <div class="tracking_div">

      <div class="left">
        <span *ngFor="let typeStatusOrder of typesStatusOrder">
          <div class="line_div line_div_darkgray"></div>
          <div class="round_div_gray round_div_darkgray" [ngClass]="{ 'round_div_red': statusOrder === typeStatusOrder.status }"></div>
        </span>
      </div>

      <div class="right">
        <span *ngFor="let typeStatusOrder of typesStatusOrder">
          <div class="line_div"></div>
          <div class="round_div_gray" [ngClass]="{ 'round_div_red': statusOrder === typeStatusOrder.status, 'round_div_darkgray': statusOrder !== typeStatusOrder.status }">
            {{ typeStatusOrder.name }}
          </div>
        </span>
      </div>

    </div>

    <ion-button *ngIf="cancelService" color="primary" (click)="handleGetStorageUser()" expand="block" mode="ios" class="red_btn">
      Cancelar servicio
    </ion-button>
  </div>
</ion-content>