.payment_div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

    .small_lbl {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        ;
        font-size: 16px;
        font-weight: bold;
        display: block;
    }

    .red_lbl {
        color: var(--ion-color-main);
    }
}

.payment_method {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .list_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        border-radius: 5px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        background: #FAFAFA;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        margin-bottom: 15px;

        .right_img {
            position: absolute;
            right: 16px;
        }
    }
}

.coupon_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    height: 50px;
    align-items: center;

    .small_lbl {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        ;
        width: 70%;
    }

    ion-input {
        width: 30%;
        color: var(--ion-color-main);
        --placeholder-color: var(--ion-color-light);
    }
}

.summary_div {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E8E8E8;

    .head {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        ;
        font-size: 20px;
    }

    .summary_sub {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 10px;

        .price {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            ;
            font-size: 16px;
        }
    }
}

.red_btn {
    --background: var(--ion-color-main);
    height: 40px;
    --background-activated: var(--ion-color-main);
    margin-top: 45px;
    padding-left: 16px;
    padding-right: 16px;
}

.colorlaberl {
    font-weight: bold;
    margin-left: 15px;
    // margin-bottom: 7px;
    color: #252422;
}

.colorlaberl1 {
    font-weight: bold;
    margin-left: 0px;
    // margin-bottom: 7px;
    color: #252422;
}

.inputMen {
    width: 100%;
    height: 70px;
    font-size: 15px;
    margin-top: 7px;
    border-radius: 10px;
    // border-color: #7C7C7C;
    color: black;
}

.inputLocation {
    width: 100%;
    height: 40px;
    font-size: 15px;
    margin-top: 7px;
    border-radius: 10px;
    border-color: #7C7C7C;
}

.bold {
    font-weight: bold;
}

.margin {
    margin-left: 5%;
}

.inputs {
    width: 100%;
}

.classInput {
    --background: white;
    border-radius: 20px;
    --padding-start: 10px;
}

.container-fluid {
    margin-top: 15px;
}

.frm_pay {
    float: left;
    width: 100%;
    margin-top: 20px;
  
    label {
      float: left;
      width: 100%;
      text-align: left;
      color: black;
      margin-top: 5px;
      padding-left: 5px;
      font-weight: 400;
    }

    .card_section {
        float: left;
        width: 100%;
        display: flex;
        flex-direction: column;

        .bold{
            font-weight: bold;
        }
    }
  
    .input_pago {
      &.text_center {
        text-align: center;
      }
    }

    .content_typecard {
        position: relative;
        padding-top: 0 !important;
        overflow: hidden;
    
        &.visa {
          padding-left: 50px !important;
    
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 100%;
            border-radius: 5px 0 0 5px;
            background: #3A79F0 url('../../../assets/cards/ico-visa.svg') no-repeat center;
            background-size: 70%;
          }
        }
    
        &.mastercard {
          padding-left: 50px !important;
    
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 100%;
            border-radius: 5px 0 0 5px;
            background: #3A79F0 url('../../../assets/cards/ico-master.svg') no-repeat center;
            background-size: 70%;
          }
        }
      }
  
    .input_date {
      ion-datetime {
        float: left !important;
        width: 100% !important;
        height: 50px !important;
        max-width: 100% !important;
        color: black;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .datetime-text {
          flex: none !important;
        }
  
        &::part(text) {
          text-align: center;
        }
      }
    }
  
    .input_cvv {
      height: 100%;
      margin: 0;
      text-align: center;
      -webkit-text-security:disc;
    }
  
    .container_button {
      float: left;
      width: 100%;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  
        .btn_shop {
          float: left;
          height: 40px;
          width: 60%;
          font-size: 15px;
          --border-radius: 15px;
        }
    }

}

.flexus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}