<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Checkout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="payment_div">
          <ion-label class="small_lbl">* Método de pago</ion-label>
        </div>

        <div class="payment_method">
          <div class="list_item" (click)="choosePaymentMethod(1)">
            <img src="assets/imgs/efectivo.png" style="width: 25px;height: 20px">
            <ion-label style="margin-left: 10px;">Efectivo</ion-label>
            <img src="assets/imgs/verified.png" class="right_img" style="width: 25px;height: 25px;" *ngIf="idPay == 1">
          </div>

          <div class="list_item" (click)="choosePaymentMethod(2)">
            <img src="assets/imgs/visa.png" style="width: 25px;height: 30px">
            <ion-label style="margin-left: 10px;">Tarjeta de crédito o débito</ion-label>
            <img src="assets/imgs/verified.png" class="right_img" style="width: 25px;height: 25px;" *ngIf="idPay == 2">
          </div>

          <form #frmCard="ngForm" class="frm_pay" *ngIf="seeCards">
            <ion-grid>
              <ion-row>
                <div class="card_section">
                  <label class="bold">Nombre en la tarjeta</label>
                  <ion-item class="spd spi no_padding">
                    <ion-input type="text" autocorrect="on" class="input_pago text_center"
                      placeholder="Nombre en la tarjeta" name="cardName" [(ngModel)]="card.cardName" required
                      #cardName="ngModel"></ion-input>
                  </ion-item>
                </div>
              </ion-row>
              <ion-row>
                <div class="card_section">
                  <label class="bold">Número de la tarjeta</label>
                  <ion-item class="spd spi no_padding">
                    <ion-input type="tel" step="any" pattern="\\d*" class="input_pago content_typecard text_center"
                      placeholder="Número de la tarjeta" name="accountNumber" [(ngModel)]="card.accountNumber"
                      [brmasker]="{mask:'9999-9999-9999-9999', len:19}" [attr.maxlength]="19" required
                      #accounNumber="ngModel" (keyup)="getTypeCard()" ccNumber></ion-input>
                  </ion-item>
                </div>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <div class="card_section">
                    <label class="ion-margin-bottom ion-text-center bold">Vencimiento</label>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="card_section">
                    <label class="ion-margin-bottom ion-text-center bold">CVV</label>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="4">
                  <div class="card_section item_wthree">
                    <ion-item class="spd spi input_date no_padding">
                      <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="MM" pickerFormat="MM"
                        class="input_pago mr_ri" name="expirationMonth" [(ngModel)]="card.expirationMonth" required
                        #expirationMonth="ngModel"></ion-datetime>
                    </ion-item>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="card_section item_wthree">
                    <ion-item class="spd spi input_date no_padding">
                      <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="YYYY" pickerFormat="YYYY"
                        [min]="card.expirationYear" max="2040" class="input_pago mr_ri" name="expirationYear"
                        [(ngModel)]="card.expirationYear" required #expirationYear="ngModel"></ion-datetime>
                    </ion-item>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="card_section item_wthree">
                    <ion-item class="spd spi no_padding">
                      <ion-input type="tel" autocorrect="on" class="input_pago input_cvv" placeholder="CVV"
                        maxlength="4" [attr.maxlength]="4" name="Cvv" [(ngModel)]="card.Cvv" required #Cvv="ngModel">
                      </ion-input>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
          <div class="container_button">
            <ion-button class="btn_shop" color="primary" type="submit" [disabled]="frmCard.invalid" expand="block"
              fill="solid" mode="ios">
              Pagar
            </ion-button>
          </div>
        </ion-row> -->
            </ion-grid>

          </form>

          <!-- <div class="coupon_div">
      &nbsp; &nbsp; &nbsp;<ion-label class="small_lbl">Ingresar cupón</ion-label>
      <ion-input type="text" placeholder="Código"></ion-input>
    </div> -->
          <!-- <ion-label class="address_lbl2">*Los campos con asterisco son obligatorios.</ion-label> -->
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="colorlaberl1">
            Programar Servicio:
          </ion-label>
          <br>
          <ion-select mode="ios" placeholder="No programar" class="ip" (ionChange)="programar($event)">
            <ion-select-option value="1">Programar</ion-select-option>
            <ion-select-option value="0">No Programar</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="mostrar">
          <!-- <ion-grid>
            <ion-row>
              <ion-col> -->
          <ion-list>
            <ion-item>
              <ion-label class="bold">* Fecha de Servicio:</ion-label>
              <ion-datetime min="2021" max="2022" (ionChange)="seeDate($event)" placeholder="Selecciona la fecha">
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="bold">* Hora del Servicio:</ion-label>
              <ion-datetime display-format="H:mm A" (ionChange)="seeHour($event)" placeholder="Selecciona la hora"></ion-datetime>
            </ion-item>
          </ion-list>
          <!-- </ion-col>
            </ion-row>
            <ion-row>
              <ion-col> -->

          <!-- </ion-col>
            </ion-row>
          </ion-grid> -->
        </ion-item>
      </ion-col>
    </ion-row>

    <br>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-label class="colorlaberl">
            Observaciones del servicio:
          </ion-label>
          <br>
          <ion-item>
            <textarea class="inputMen" [(ngModel)]="comentario" name="comentarios"
              placeholder="Código para ingreso a residencia, ubicación de implementos de limpieza, especificaciones especiales sobre limpieza, etc."> </textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col>
        <div class="summary_div">
          &nbsp; &nbsp; &nbsp;<ion-label class="head">Orden final</ion-label>

          <div class="summary_sub">
            <ion-label class="margin">Total del servicio</ion-label>
            <ion-label class="price">Q. {{data.total1}}.00 </ion-label>
          </div>

          <hr>
          <div class="summary_sub">
            <ion-label class="margin">Total </ion-label>
            <ion-label class="price">Q. {{data.total1}}.00</ion-label>
          </div>

          <ion-button expand="block" mode="ios" class="red_btn" (click)="handleGetStorageUser()">
            Siguiente
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>

        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>